# Setting utf-8 headers for filetypes
AddCharset UTF-8 .js
AddCharset UTF-8 .css
RewriteEngine On
# Condition to not rewrite files of the following types
RewriteCond %{REQUEST_URI} !\.(?:css|js|jpe?g|gif|png|woff2?|ttf)$ [NC]
# Rewriting the entire non-empty url as a query string
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]