
.city h2{

    text-transform: uppercase;
}
  
  /* Table Styles */

   /* About City Styles */
   .side-menu{
    float: left;
   }
.city{
    margin: 2rem 0;
}
.details{
  line-height: 2;
}
.details p{
  text-align: justify;
}



  /* Footer Styles*/
  .footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
  }
  