  .emergency-detail{
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--fadedblue);
    margin-bottom: 1rem;
  }
  
  .emergency-detail h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .emergency-detail p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }