/* Colors */
:root{
    --blue: #7387EF;
    --lightblue: #93B4F2;
    --fadedblue: #F0F5FE;
    --red: #FF4040;
    --green: #25A704;
    --yellow: #F3BC2F;
    --orange: #E2631B;
    --grey: #9A9A9A;
    --bgcolor: #f0f0f0;
    --black: #000000;
    --white: #ffffff;
  }
  
  /*
  background for all pages: bgcolor
  view: blue
  edit: yellow
  remove: red
  enable: green
  extenduedate: green
  completed: green
  favourite: lightblue
  plantoreadd: blue
  addbook: lightblue
  reject: red
  lost: red
  delist: red
  disable: red
  found: red
  accept: green
  addnote: blue
  markasresolved: green
  */
  
  .blue{
    color: var(--blue);
  }
  .lightblue{
    color: var(--lightblue);
  }
  .green{
    color: var(--green);
  }
  .red{
    color: var(--red);
  }
  .orange{
    color: var(--orange);
  }
  .yellow{
    color: var(--yellow);
  }
  .grey{
    color: var(--grey);
  }
  .white{
    color: var(--white);
  }
  
  /* Page */
  
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: var(--bgcolor);
  }

  .formContainer {
    box-sizing: border-box;
    width: 100%;
    margin: 3rem auto;
    padding: 1rem;
    border-radius: 1rem;
  }
  
  .form {
    display: grid;
    padding: 1rem 4rem;
    font-size: 1rem;
  }
  
  select, textarea {
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  
  .inputfield label {
    margin: auto 0;
    text-align: left;
  }
  
  .inputfield {
    display: grid;
    grid-template-columns: 2fr 5fr;
    margin: 0.5rem;
    padding: 0.5rem;
  }
  
  .inputDiv {
    box-sizing: border-box;
  }
  
  .inputDiv
    input:not([type="checkbox"]):not([type="submit"]):not([type="radio"]):not(
      [type="file"]
    ):not([type="date"]):not([type="datetime-local"]):not([type="number"]):not(
      [type="tel"]
    ):not([type="search"]):not([type="time"]),
  .inputDiv select,
  .inputDiv textarea {
    width: calc(100% - 2rem);
  }
  
  /* #textInput,
  #passwordInput,
  #selectOption,
  #noteInput,
  #checkboxInput,
  #radiobuttonInput,
  #dateInput,
  #dateTimeLocalInput,
  #emailInput,
  #numberInput,
  #phoneInput,
  #searchInput
  {
  } */
  
  #textInput,
  #passwordInput,
  #selectOption,
  #noteInput,
  #checkboxInput,
  #radiobuttonInput,
  #dateInput,
  #dateTimeLocalInput,
  #emailInput,
  #numberInput,
  #phoneInput,
  #searchInput,
  #timeInput {
    padding: 0.5rem;
    background-color: var(--lightblue);
    border-radius: 0.5rem;
  }
  
  #fileInput {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  
  .checkboxInputs,
  .radiobuttonInputs {
    display: grid;
    grid-template-columns: 1fr 7fr;
  }
  
  .submitButtonContainer {
    margin: 1rem;
    padding: 1rem;
    text-align: right;
  }
  
  .submitButton {
    display: inline-block;
  }
  
  .submitButton input {
    background-color: var(--lightblue);
    border-radius: 0.5rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem 1.5rem;
  }



  .sub-head-area{
    display: flex;
    justify-content: space-between;
  }



  .bookcatalog{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
  }
  .bookcatalog h2{
    margin: 0;
  }
  .bookcatalog-title{
    border-bottom: 1px solid var(--black);
    line-height: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .catalog-sub-title{
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .content-title-category select{
    padding: 6px 16px;
    border: 1px solid var(--grey);
    color: var(--grey);
    cursor: pointer;
    border-radius: 5px;
  }
  .content-title-category select > option{
    color: var(--black);
  }
  .book-catalog-table{
    display: flex;
    justify-content: center;
  }
  .book-catalog-table table{
    width: 90%;
    border-collapse: collapse;
  }
  .book-catalog-table table th{
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid var(--grey);
    background-color: var(--lightblue);
  }
  .book-catalog-table table td{
    padding: 0.7rem 0;
    border-bottom: 1px solid var(--grey);
    background-color: var(--fadedblue);
  } 
  .action-btn-set{
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  .favourite{
    background-color: var(--yellow);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 2%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  }
  .planToRead{
    background-color: var(--lightblue);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 2%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  }
  .completed{
    background-color: var(--green);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 2%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  }
  .extend{
    font-size: 1.1rem;
    border-radius: 1rem;
    background-color: var(--green);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 2%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  }
  .request{
    font-size: 1.1rem;
    border-radius: 1rem;
    background-color: var(--lightblue);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 2%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  }
  .remove{
    background-color: var(--red);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 2%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  }
  .favourite:hover, .planToRead:hover, .completed:hover, .remove:hover, .extend:hover{
    transform: scale(1.1);
  }
  .pagination-bar{
    display: flex;
    gap: 1rem;
    justify-content: end;
  }
  .pagination-item{
    border: 1px solid var(--grey);
    padding: 0.2rem 0.5rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 2%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    cursor: pointer;
  }
  .pagination-item:hover, .order-up:hover, .order-down:hover{
    background-color: var(--lightblue);
  }

  .changeOrder-bar{
    display: flex;
    gap:0.5rem;
    justify-content: center;
  }

  .status-available, .status-borrowed{
    background-color: var(--green);
    color: var(--white);
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    justify-content: center;
    cursor: default;
  }

  .status-borrowed{
    background-color: var(--orange);
  }

  .content-title-search{
    display: flex;
  }
  .content-title-search input{
    padding: 6px 4px;
    border: 1px solid var(--grey);
    border-right: none;
    border-radius: 5px 0 0 5px;
  }
  .content-title-search button{
    padding: 6px;
    background-color: var(--lightblue);
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
  }
  .content-title-search button:hover{
    background-color: var(--blue);
  }
  .content-title-search img{
    display: block;
    width: 10px;
  }

  .dashboard-mid-area{
    margin-top: 5rem;
    padding-left: 5rem;
    display: flex;
    justify-content: left;
    gap: 10rem;
  }

  .fine-sub{
    display: flex;
    padding-right: 2rem;
  }

  .fine-sub img{
    width:3rem;
    border: 1px solid var(--grey);
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .fine-container h2, .request-container h2, .dashboard-bottom-sub h2{
    margin: 0;
  }

  .fine-container hr, .request-container hr, .dashboard-bottom-area hr{
    margin-bottom: 1.5rem;
  }

  .dashboard-bottom-area{
    margin-top: 5rem;
  }

  .dashboard-bottom-sub{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding-right: 2rem;
  }

  #fine-holder {
    padding-left: 2rem;
    border: 1px solid var(--grey);
    border-radius: 0 0.5rem 0.5rem 0;
    color: var(--black);
    font-size: 1.1rem;
  }

  #fine-holder:focus{
    outline: none;
  }

  