* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  overflow: hidden;
}
.upper-header {
  width: 100%;
  float: left;
}

li {
  float: left;
}

li .logo-img {
  display: block;
  text-align: center;
  margin: 4px;
  margin-left: 150px;
  padding: 14px 16px;
  width: 75px;
  height: 80px;
}

.title {
  float: right;
  margin: 20px;
  margin-right: 250px;
}

.chilaw {
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2px;
}

.sabha {
  white-space: initial;
  font-size: 15px;
  letter-spacing: 3px;
}

.lower-header {
  width: 100%;
  float: left;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-width: 100%;
}

.items {
  font-size: 20px;
  margin-left: 50px;
  padding: 8px 100px;
  float: left;
  text-decoration: none;
  color: black;
}

body {
  height: 100vh;
}
.footer-content {
  position: relative;
  color: white;
  font-size: 20px;
  background-color: black;
  text-align: center;
  padding: 15px;
  bottom: -100px;
  font-weight: 100;
  clear: both;
}

.sidebar {
  float: left;
  width: 20%;
  height: 80%;
  margin-top: 30px;
  margin-left: 20px;
}

.option {
  text-decoration: none;
  display: block;
  background-color: #c3d6fc;
  color: black;
  padding: 15px 20px;
  width: 80%;
  border: 2px solid #c3d6fc;
  border-radius: 10px;
  text-align: left;
  cursor: pointer;
  margin: 15px;
  white-space: nowrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

.book-list {
  width: 100%;
}

.add-book-topic {
  margin-top: 30px;
  margin-left: 20px;
  float: left;
  display: block;
  font-weight: 300;
  padding: 15px 20px;
  font-size: 30px;
}

.dashboard {
  margin-top: 30px;
  margin-left: 20px;
  float: left;
  display: block;
  font-weight: 300;
  padding: 15px 20px;
  font-size: 30px;
}

.catalog {
  margin-top: 30px;
  margin-left: 20px;
  float: left;
  display: block;
  font-weight: 300;
  padding: 15px 20px;
  font-size: 25px;
}

.damagelist-btn {
  text-decoration: none;
  font-weight: 600;
  color: black;
  margin-top: 20px;
  margin-right: 25px;
  margin-bottom: 30px;
  float: right;
  display: block;
  padding: 8px 15px;
  background-color: #c3d6fc;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

.addbook-btn {
  text-decoration: none;
  font-weight: 600;
  color: black;
  margin-top: 20px;
  margin-right: 150px;
  margin-bottom: 30px;
  float: right;
  display: block;
  padding: 8px 15px;
  background-color: #c3d6fc;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

.h-ruler {
  display: block;
  float: left;
  width: 73%;
  margin-left: 40px;
}

.user-select {
  width: auto;
  margin-top: 40px;
  margin-right: 60px;
  display: block;
  float: right;
  background-color: #d2e2fc;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #7995cd;
  box-sizing: border-box;
}

.logout-option {
  font-size: 18px;
}

.user-name {
  display: none;
}

.logout-img {
  float: right;
  margin-top: 35px;
  margin-right: 20px;
  height: 40px;
}

.bookcatalogue {
  float: left;
  display: block;
  width: 75%;
  margin-left: 40px;
  border-collapse: collapse;
}

.bookcatalogue th {
  text-align: left;
  background-color: #d2e2fc;
  padding: 1% 30px 1% 30px;
  font-size: 18px;
  font-weight: 200;
  white-space: nowrap;
}

.action {
  text-align: center !important;
}

.bookcatalogue td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid rgb(155, 155, 155);
}

td.table-data {
  word-break: break-word;
}

.edit-btn {
  background-color: #f3bc2f;
  color: white;
  text-align: center;
  width: 45px;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

.lost-btn {
  background-color: #93b4f2;
  color: white;
  text-align: center;
  width: 45px;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

.delist-btn {
  background-color: #ff4040;
  color: white;
  text-align: center;
  width: 70px;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

.insert-bookform {
  margin-top: 30px;
  display: block;
  float: left;
  width: 50%;
  margin-left: 15%;
  font-size: 18px;
}

input {
  width: 60%;
  background-color: white;
  padding: 8px 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #7995cd;
  box-sizing: border-box;
}

.bookCategory-input {
  padding: 10px 10px;
  margin: 8px 0;
}

.bookCategory-input option {
  background-color: white;
}

label {
  display: inline-block;
  width: 25%;
  text-align: left;
}

.bookCategory-label {
  margin-left: 30px;
  width: 120px;
}

.recdate-label {
  margin-left: 30px;
  width: 120px;
}

.recdate-input {
  width: 20%;
  background-color: white;
  padding: 8px 10px;
  margin: 8px 0 8px 35px;
  border-radius: 5px;
  border: 1px solid #7995cd;
  box-sizing: border-box;
  font-size: 15px;
}

.dateofpub-input {
  width: 20%;
  background-color: white;
  padding: 8px 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #7995cd;
  box-sizing: border-box;
  font-size: 15px;
}

.page {
  width: 20%;
  background-color: white;
  padding: 8px 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #7995cd;
  box-sizing: border-box;
}

.bookCategory-input {
  width: 20%;
  background-color: white;
  padding: 8px 10px;
  margin: 8px 0 8px 35px;
  border-radius: 5px;
  border: 1px solid #7995cd;
  box-sizing: border-box;
  font-size: 15px;
}

.bookCategory-input option {
  font-size: 18px;
}

.accno {
  width: 30%;
  background-color: white;
  padding: 8px 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #7995cd;
  box-sizing: border-box;
}

.price {
  width: 18%;
  background-color: white;
  padding: 8px 10px;
  margin: 8px 0 8px 25px;
  border-radius: 5px;
  border: 1px solid #7995cd;
  box-sizing: border-box;
}

.price-label {
  margin-left: 30px;
  width: 55px;
}

#add {
  margin-top: 20px;
  border-radius: 10px;
  border: #c3d6fc;
  padding: 8px 10px;
  display: block;
  float: right;
  margin-right: 15%;
  background-color: #c3d6fc;
  border: none;
  cursor: pointer;
  width: 15%;
  font-size: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

.warn {
  color: red;
  padding-left: 2rem;
}
.success {
  color: #09d055;
  padding-left: 2rem;
}
