/* Colors */
:root {
  --blue: #7387EF;
  --lightblue: #93B4F2;
  --fadedblue: #F0F5FE;
  --red: #FF4040;
  --green: #25A704;
  --yellow: #F3BC2F;
  --orange: #E2631B;
  --grey: #9A9A9A;
  --bgcolor: #ffffff;
  --black: #000000;
}

/*
background for all pages: bgcolor
view: blue
edit: yellow
remove: red
enable: green
extenduedate: green
completed: green
favourite: lightblue
plantoreadd: blue
addbook: lightblue
reject: red
lost: red
delist: red
disable: red
found: red
accept: green
addnote: blue
markasresolved: green
*/

.black {
  color: var(--black);
}

.blue {
  color: var(--blue);
}

.lightblue {
  color: var(--lightblue);
}

.green {
  color: var(--green);
}

.red {
  color: var(--red);
}

.orange {
  color: var(--orange);
}

.yellow {
  color: var(--yellow);
}

.grey {
  color: var(--grey);
}

.fd-blue {
  color: var(--fadedblue);
}

.white {
  color: var(--bgcolor);
}

.bg-black {
  background-color: var(--black);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-lightblue {
  background-color: var(--lightblue);
}

.bg-green {
  background-color: var(--green);
}

.bg-red {
  background-color: var(--red);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-grey {
  background-color: var(--grey);
}

.bg-fd-blue {
  background-color: var(--fadedblue);
}

.bg-white {
  background-color: var(--bgcolor);
}

.hover-black:hover {
  color: var(--black);
}

.hover-blue:hover {
  color: var(--blue);
}

.hover-lightblue:hover {
  color: var(--lightblue);
}

.hover-green:hover {
  color: var(--green);
}

.hover-red:hover {
  color: var(--red);
}

.hover-orange:hover {
  color: var(--orange);
}

.hover-yellow:hover {
  color: var(--yellow);
}

.hover-grey:hover {
  color: var(--grey);
}

.hover-fd-blue:hover {
  color: var(--fadedblue);
}

.hover-white:hover {
  color: var(--bgcolor);
}

.hover-black:hover {
  color: var(--black);
}

.hover-bg-blue:hover {
  background-color: var(--blue);
}

.hover-bg-lightblue:hover {
  background-color: var(--lightblue);
}

.hover-bg-green:hover {
  background-color: var(--green);
}

.hover-bg-red:hover {
  background-color: var(--red);
}

.hover-bg-orange:hover {
  background-color: var(--orange);
}

.hover-bg-yellow:hover {
  background-color: var(--yellow);
}

.hover-bg-grey:hover {
  background-color: var(--grey);
}

.hover-bg-fd-blue:hover {
  background-color: var(--fadedblue);
}

.hover-bg-white:hover {
  background-color: var(--bgcolor);
}

/* Page */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  background-color: var(--bgcolor);
}

/* Header Styles */
.header {
  background-color: var(--bgcolor);
  width: 100%;
}

.logo-area {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.logo-items {
  padding: 1rem;
  display: flex;
  gap: 20px;
}

.sabha-title {
  height: 100px;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgba(0 0 0 / 2%);
}

.main {
  background-color: var(--bgcolor);
  box-sizing: border-box;
  min-height: 90vh;
  width: 100%;
  align-self: center;
  padding: 1rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* #Navbar Styles*/
.navbar {
  height: 50px;
  border-top: 2px solid var(--grey);
  border-bottom: 2px solid var(--grey);
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  box-sizing: border-box;
}

.navbar-items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar-items ul {
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
  padding-inline-start: 0;
}

.navbar-items ul.login-list {
  gap: 1rem;
}

.navbar-items ul li a {
  text-decoration: none;
  padding: 16px .5rem;
  color: var(--black);
}

.user-login-image {
  cursor: pointer;
  margin-left: auto;
}

.navbar-items ul.dropdown-content {
  display: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
}

.dropdown a.dropbtn {
  position: relative;
  display: inline-block;
}

.dropdown-content li {
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown-content li:hover {
  background-color: var(--blue);
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover>a {
  background-color: var(--blue);
  color: white;
}

/* Footer Styles*/
.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
}

.shadow {
  /* box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5); */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 2%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

#hamburger-trigger,
.lines {
  display: none;
}

@media screen and (min-width: 1200px) {

  /* WHEN SCREEN IS WIDER THAN 1200 */
  .navbar-items,
  .main {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {

  /* WHEN SCREEN IS NARROWER THAN 768px */
  /* Responsive navbar styles */
  .navbar{
    padding: 0;
    padding-left: 1rem;
  }

  .navbar-items ul li a {
    padding: 10px .5rem;
    color: var(--black);
  }

  .navbar-items ul>ul li a {
    padding: 8px .5rem;
  }

  .navbar-items ul:first-child {
    display: none;
    z-index: 99;
    position: absolute;
    left: 0;
    top: calc(160px + 2rem);
    background-color: var(--bgcolor);
    width: 80%;
  }

  .navbar input[type="checkbox"]:checked~.navbar-items ul:first-child {
    display: block;
  }

  .navbar-items ul:first-child .dropdown-content {
    display: block;
    position: unset;
    padding: 0;
    cursor: pointer;
    box-shadow: none;
    z-index: 5;
    list-style: circle;
  }

  .navbar-items ul:first-child>li,
  a {
    box-sizing: border-box;
    width: 100%;
    font-weight: 700;
  }

  .navbar-items ul:first-child>li:hover {
    background-color: var(--blue);
  }

  .navbar-items ul:first-child>li>ul {
    margin-left: 1rem;
    font-weight: 500;
  }

  .navbar {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .navbar-items ul.login-list {
    margin-left: auto;
    margin-right: 1rem;
  }

  #hamburger-trigger {
    display: block;
    display: block;
    height: 32px;
    width: 32px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .lines>span {
    display: block;
    height: 4px;
    width: 100%;
    background: var(--black);
    border-radius: 10px;
    transition: transform 200ms ease-in-out;
  }

  .lines>span:first-child {
    transform-origin: 0% 0%;
  }

  .lines>span:last-child {
    transform-origin: 0% 100%;
  }

  .navbar input[type="checkbox"]:checked~.lines>span:first-child {
    transform: rotate(45deg);
  }

  .navbar input[type="checkbox"]:checked~.lines>span:not(:first-child):not(:last-child) {
    transform: scaleY(0);
  }

  .navbar input[type="checkbox"]:checked~.lines>span:last-child {
    transform: rotate(-45deg);
  }

  /* Other Misc */
  .main {
    width: 100%;
  }

  .items > a.sidebar-drop{
    padding: 15px;
  }
}

@media screen and (max-width: 259px) {

  /* WHEN SCREEN IS NARROWER THAN LOGO */
  .logo-items {
    /* TODO: make a text "Chilaw Pradeshiya sabha" visible*/
    display: none;
  }

  body {
    font-size: 8px;
  }

  .main {
    grid-gap: 5px;
  }

  .sidebar-img {
    height: 10px;
  }

  .items a .see-more {
    font-size: 10px;
  }

  .items a {
    padding: 5px;
    gap: 3px;
  }
}

*:not(.footer) {
  transition: all 200ms ease-in-out;
}

.error{
  color: var(--red);
}
.error::before{
  content: "*";
}