body{
  background-color: var(--fadedblue);
}

.header, .main{
  background-color: var(--bgcolor);
}

.main{
  box-shadow: 5px 15px 20px 2px rgba(100, 100, 100, 0.5), -5px 15px 20px 2px rgba(100, 100, 100, 0.5)
}

.portal-intro, .portal-buttonsContainer{
  width: 70%;
  margin: 2rem auto;
}

.portal-intro p{
  text-align: justify;
  font-size: 1.2rem;
}

.portal-buttonsContainer{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.portal-otherButtons{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.portal-otherButtons h2{
  font-size: 1.5rem;
}

.portal-button, .portal-otherButton{
  width: 15rem;
  padding: 1rem 2rem;
  background-color: var(--lightblue);
  font-size: 1rem;
  cursor: pointer;
}

.portal-button{
  border-radius: 0 1rem 1rem 0;
}

.portal-otherButton{
  border-radius: 1rem;
  width: 25rem;
  text-align: left;
  margin: 0.5rem 2rem;
}

.portal-button:hover{
  background-color: var(--blue);
}

.portal-button-icons{
  padding: 0.6rem 1rem;
  height:2rem;
  position: relative;
  border: 1px solid var(--grey);
  border-radius: 1rem 0 0 1rem;
}

.button-container{
  display: flex;
  align-items: center;
  padding-right: 0;
  margin: 2rem 0.5rem;
}