.posts {
  display: flex;
  display: flex;
  flex-direction: column;
  width: calc(100% - 1rem);
  gap: 1rem;
  align-items: center;
}

.post {
  padding: 0.5rem;
  background-color: var(--fadedblue);
  max-width: 1000px;
  width: 100%;
  border-radius: 10px;
}

.shadow {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
}

.post .title {
  font-size: larger;
  display: inline;
}

.post .title a {
  text-decoration: none;
  color: var(--black);
  text-decoration: underline;
}

.post hr {
  color: var(--grey);
}

.post .shortdesc {
  color: var(--grey);
  padding: 0.5rem 0;
}

.details {
  display: flex;
  gap: 1rem;
}

.details .author {
  float: left;
  margin-right: auto;
}

.details .date {
  float: right;
}

.details .category {
  float: right;
}

.details .date::before {
  content: "🗓";
}

.details .category::before {
  content: "🏷";
}

.details .author::before {
  content: "🖋";
}

.cat-title {
  font-size: xx-large;
}

.filters {
  margin: 1.5rem 0;
}

.filters form {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}

.filters .filter {
  display: flex;
}

.filter > label {
  margin-right: .5rem;
}

.filters form {
  font-size: 1.1rem;
}

.filters form input,
.filters form select,
.page-size select,
.page-nos select {
  height: 30px;
  border: 1px solid var(--black);
  padding: 0 10px;
  font-size: 1.1rem;
}

.filters form select,
.page-size select,
.page-nos select {
  border-radius: 10px;
  background-color: #fff;
}

.search {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-box {
  width: max-content;
  position: relative;
}

.search:valid~span:after,
.search:invalid~span:after {
  box-sizing: border-box;
  content: "🔍";
  position: absolute;
  height: 30px;
  aspect-ratio: 1/1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fadedblue);
  border: 1px solid var(--black);
  border-left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.page-nav {
  display: flex;
  justify-content: space-evenly;
}

.page-btn {
  display: inline-flex;
  text-decoration: none;
  background-color: var(--blue);
  color: var(--black);
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
}

.page-nos,
.page-size {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.1rem;
}

.page-nav {
  margin: 2rem 0;
}

.slideshow-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.slideshow {
  width: 60%;
  aspect-ratio: 16/9;
}

.attachments {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attachments .heading {
  font-size: large;
  border-bottom: 1px solid var(--grey);
  width: 90%;
}

.attachments .links {
  display: grid;
  width: 90%;
  grid-template-areas: "a a a a";
  grid-gap: 1rem;
}

.attachments .links a {
  text-decoration: none;
}

.attachments .links a::before {
  content: "🗎";
  text-decoration: none;
}

@media screen and (max-width: 767px) {

  /* WHEN SCREEN IS NARROWER THAN 768px */
  .attachments .links {
    grid-template-areas: "a a a";
  }

  .filters form{
    flex-direction: column;
  }

  .filters .filter {
    flex-direction: column;
  }
}

@media screen and (max-width: 259px) {

  /* WHEN SCREEN IS NARROWER THAN LOGO */
  .attachments .links {
    grid-template-areas: "a";
  }
}