:root {
  --dropdisplay: flex;
  --tbpaddrops: 1rem;
  --lrpaddrops: 10rem;
  --lrlogomar: 15%;
  --logospadlr: clamp(10px, 5rem, 40vw);
  --sidebuttonBlue: #c3d6fc;
  --otherblue: #f0f5fe;
  --tabbotbor: #d9d9d9;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
/* HEADER */
.header {
}
.logos {
  display: flex;
  padding: 1rem var(--logospadlr);
}
.logo {
  margin-right: auto;
  margin-left: var(--lrlogomar);
}
.sabhaname {
  margin-left: auto;
  height: 80px;
  margin-right: var(--lrlogomar);
}
.chilaw {
  font-size: 42px;
}
.sabha {
  font-weight: 500;
}
.drops {
  display: var(--dropdisplay);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding: var(--tbpaddrops) var(--lrpaddrops);
}
.drop {
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  font-size: large;
}
/* SIDEBAR */
.sidebar {
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 4rem;
  width: max-content;
}
.side-option {
  background-color: var(--sidebuttonBlue);
  padding: 1rem;
  margin-bottom: 20px;
  border-radius: 10px;
  white-space: nowrap;
}
a {
  text-decoration: none;
}
.side-option {
  text-decoration: none;
  color: black;
  font-weight: 400;
}
/* CONTENT */
.main {
  /* width: 60%; */
  min-height: 90vh;
  display: flex;
  padding: 0 2rem;
  justify-content: center;
}
.content {
  display: block;
  width: 100%;
  padding-left: 2rem;
  margin-right: auto;
}
.title-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  width: 80%;
}
.underline {
  border-bottom: 1px solid var(--tabbotbor);
}
.page-title {
  font-size: x-large;
  float: left;
}
.title-row-btns {
  float: right;
}
.title-row-btn {
  float: right;
  padding: 0.5rem 2rem;
  background-color: #93b4f2;
  border: none;
  border-radius: 10px;
  margin-right: 1rem;
}
.title-category {
}
.title-category select {
  width: 15rem;
  height: 2rem;
}
.title-search {
  float: right;
  display: flex;
  height: 2rem;
  border: none;
  border-radius: 10px;
  margin-right: 1rem;
}
.title-search .field {
  border: none;
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid #c3d6fc;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 0;
}
input[type="search"]:focus {
  outline: none;
}
.title-search .btn {
  height: 100%;
  width: 2rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
}
.title-search .btn img {
  height: 1rem;
  object-fit: contain;
}
/* TABLE STYLES */
table {
  border: 0;
  width: 80%;
  border-collapse: collapse;
  height: fit-content;
  margin-bottom: 1rem;
}
.table-head-row {
  background-color: var(--otherblue);
  height: 3rem;
}
th {
  font-weight: 400;
  padding: 0;
  min-width: 2rem;
}
td {
  padding: 1rem 1rem;
}
tr {
  border-bottom: 1px solid var(--tabbotbor);
}
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.act-btn {
  padding: 0.5rem;
  min-width: 4rem;
  border: 0;
  border-radius: 10px;
  color: white;
}
.edit {
  background-color: #93b4f2;
}
.disable {
  background-color: #ff4040;
}
/* FORM STYLES */
form {
  min-width: 50rem;
  max-width: 50%;
}
form .field {
  display: inline-block;
  width: 100%;
}
form .field label {
  float: left;
}
form .field input:not([type="submit"]),
select {
  float: right;
  height: 2rem;
  min-width: 75%;
  max-width: 100%;
  margin-bottom: 1rem;
  padding: 0.2rem;
  border: 1px solid #c3d6fc;
  background-color: #f0f5fe;
  border-radius: 10px;
}
input[type="submit"] {
  float: right;
  max-width: fit-content;
  padding: 0.5rem 2rem;
  background-color: #93b4f2;
  border: none;
  border-radius: 10px;
}

/* FOOTER */
.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
}
/* SMALL SCREENS */
@media screen and (max-width: 768px) {
  :root {
    --dropdisplay: block;
    --tbpaddrops: 0.5rem;
    --lrpaddrops: 1rem;
    --lrlogomar: 1rem;
    --logospadlr: 1rem;
  }
}
.log-err {
  background-color: #ff4040;
  color: white;
  text-align: center;
  width: fit-content;
  padding: 1rem 0.5rem;
}
.shadow {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* LOGIN */
.login {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .items {
  padding: 4rem;
  border: 2px solid #c3d6fc;
  border-radius: 2rem;
}
.login .title {
  font-size: x-large;
  text-align: center;
  margin-bottom: 1rem;
}

.logout {
  /* position: relative; */
  display: inline-block;
  width: 90%;
  margin-top: 0.5rem;
}
.user-select {
  cursor: pointer;
  max-width: 10rem;
  min-width: 10rem;
  border-radius: 5px;
}
.user-select option {
  height: 1.5rem;
}

@media print {
  @page {
    size: A4;
  }
  .main {
    padding: 0;
  }
  .header,
  .sidebar,
  .logout,
  .title-row-btns,
  .title-search,
  .title-category,
  .actions,
  .footer,
  .act-row-title {
    display: none;
  }
}

.warn {
  color: red;
  padding-left: 2rem;
}
.success {
  color: #09d055;
  padding-left: 2rem;
}
