/* Table Styles */

.btn-column {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

table,
td,
th {
  border: 1px solid;
  padding: 10px;
}

th {
  background-color: var(--lightblue);
}

td {
  background-color: var(--fadedblue);
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
tr,
td,
th {
  border: none;
}

tr {
  border-bottom: 1px solid var(--grey);
}


thead>tr>th:first-child {
  border-top-left-radius: 10px;
}

thead>tr>th:last-child {
  border-top-right-radius: 10px;
}

tbody>tr:last-child>td:first-child {
  border-bottom-left-radius: 10px;
}

tbody>tr:last-child>td:last-child {
  border-bottom-right-radius: 10px !important;
}

tbody>tr:last-child {
  border: none;
}

.content-table {
  display: inline-block;
  justify-content: center;
  box-sizing: border-box;
  overflow-x: auto;
}

.btn {
  border: none;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  color: var(--black);
  display: inline-block;
  border-radius: 5px;
  font-weight: 600;
  font-size: medium;
  transition: 200ms ease-in-out;
  width: max-content;
}

.btn:hover {
  transform: scale(1.1);
}

.btn::before {
  margin-right: 5px;
}

.delist::before {
  content: "␡";
}

.edit::before {
  content: "📝";
}

.lost::before {
  content: "?";
}

.view::before {
  content: "👁";
}

.enable::before {
  content: "✓";
}

.waiting {
  background-color: var(--grey);
}

.waiting::before {
  content: "⌛";
}

@media screen and (max-width:767px) {
  .content-table {
    display: block;
  }

  .btn {
    padding: .25rem .5rem;
  }
}

@media screen and (max-width:259px) {
  .btn {
    padding: .125rem .25rem;
  }
}