/* Library Portal related styles*/
.head-area h1 {
  font-weight: 300;
  margin: 0;
}

.head-area hr {
  margin-bottom: 2rem;
}

.sub-head-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lower-content{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.portal-main {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas: "portal-content reference-lib";
  grid-template-columns: auto fit-content(25%);
  margin: 2rem auto;
  overflow: auto;
}

.portal-content {
  grid-area: portal-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.portal-intro {
  line-height: 2;
}

.portal-intro p {
  text-align: justify;
}

.portal-buttonsContainer {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-evenly;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--blue);
  border-radius: 10px;
}

.portal-button-icons {
  height: 1.5rem;
  padding: 0 0.5rem;
}

.portal-button {
  padding: 0.8rem 2rem;
  background-color: var(--lightblue);
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.portal-button-req {
  padding: 0.8rem 2rem;
  background-color: var(--lightblue);
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.portal-button:hover,
.portal-button-req:hover {
  background-color: var(--blue);
}

.reference-lib {
  grid-area: reference-lib;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.portal-otherButtons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--lightblue);
  border-radius: 10px;
  padding: 1rem;
}

.portal-otherButton {
  border-radius: 10px;
  border: none;
  background-color: var(--fadedblue);
  padding: 0.5rem 1.5rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.portal-otherButton:hover {
  background-color: var(--lightblue);
}
