/* Add book form style */
.add-book-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  align-self: center;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 2%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  padding: 2.5rem;
}
