.content-title-category select {
  padding: 6px 16px;
  border: 1px solid var(--grey);
  color: var(--grey);
  cursor: pointer;
  border-radius: 5px;
}

.content-title-category select>option {
  color: var(--black);
}

.pagination-bar {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

.pagination-item {
  border: 1px solid var(--grey);
  padding: 0.2rem 0.5rem;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 2%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.pagination-item:hover {
  background-color: var(--lightblue);
}
