/* library staff dashboard styles */
.dashboard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
}

.dashboard h4,
h2 {
  margin: 0;
}

.content-title-search {
  display: flex;
}

.content-title-search input {
  padding: 6px 4px;
  border: 1px solid var(--grey);
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.content-title-search button {
  padding: 6px;
  background-color: var(--lightblue);
  border: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.content-title-search button:hover {
  background-color: var(--blue);
}

.content-title-search img {
  display: block;
  width: 10px;
}

.lend-book,
.recieve-book {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.recieve-search,
.lend-search {
  margin: 0.5rem;
}

.lend-book-title,
.recieve-book-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--black);
  line-height: 2;
  padding: 0.2rem;
}

.lend-book-content,
.recieve-book-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.status {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.books-return-stat {
  color: var(--red);
}

.fine-stat,
.lost-stat,
.damaged-stat {
  color: var(--green);
}

.lend-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1rem;
  width: 80%;
  padding: 0 2rem;
}

.lend-form .field {
  width: 50%;
}

.lend-confirm {
  justify-content: end;
}

.recieve-book-content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recieve-book-table {
  display: flex;
  justify-content: center;
}

.fine {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.fine-val {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--green);
  padding: 0.2rem 1rem;
  border-radius: 10px;
}

.fine-img {
  width: 2rem;
}

.recieve-confirm {
  display: flex;
  justify-content: end;
}

.recieve-book-table {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 2%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

th {
  text-align: center;
  background-color: var(--lightblue);
  padding: 1rem;
}

td {
  text-align: left;
  background-color: var(--fadedblue);
  padding: 1rem;
}

tr {
  border-bottom: 1px solid var(--grey);
}

.recieve-book-table .damagedcheck,
.recieve-book-table .recievedcheck {
  text-align: center;
}

#damagedcheck,
#recievedcheck {
  width: 1.5rem;
  height: 1.5rem;
}

.extend-btn {
  background-color: var(--green);
  color: #ffffff;
}

.extend-btn:hover {
  background-color: var(--green);
  transform: scale(1.1);
}
