.page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.page h4,h2 {
  margin: 0;
}

.topic {
  border-bottom: 1px solid var(--black);
  line-height: 2;
}

.title {
  border-bottom: 1px solid var(--black);
  line-height: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-title {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.usr-search-list{
  position: absolute;
  width: 75%;
  z-index: 1;
  box-shadow: 0px 4px 5px 0px var(--grey);
  max-height: 400px;
  overflow-y: auto;
}

.search-result{
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  background-color: var(--bgcolor);
}

.search-result:hover{
  background-color: var(--lightblue);
}

.lend-book{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

.recieve-book {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--fadedblue);
  border-radius: 10px;
  padding: 1rem 2rem;
}

.usr-search {
  margin: 0.5rem;
}

.usr-search form{
  display: flex;
  margin: 0;
}

.usr-search input{
  width: 100%;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 1rem 0 0 1rem;
  font-size: 1.2rem;
  box-shadow: none;
}

.usr-search button{
  padding: 1rem;
  border-radius: 0 1rem 1rem 0;
  box-shadow: none;
  border: none;
  background-color: var(--lightblue);
}

.usr-search button:hover{
  background-color: var(--blue);
  cursor: pointer;
}

.usr-search input:focus{
  box-shadow: 0px 4px 5px 0px var(--grey);
  background-color: var(--fadedblue);
  border-radius: 0;
  transform: none;
}

.usr-search input:focus + button{ 
  box-shadow: 0px 4px 5px 0px var(--grey);
  border-radius: 0;
}

.usr-search img{
  width: 1rem;
}

.recieve-book-title {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.lend-book-content{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.status {
  flex-grow: 0.2;
  background-color: var(--fadedblue);
  border-radius: 10px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.status .status-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.status-content div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.status-content >div> div{
  cursor: pointer;
}

.lend-form {
  flex-grow: 1;
  background-color: var(--fadedblue);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1rem;
  padding: 1rem 2rem;
}

.field{
  display: flex;
  flex-direction: column;
}

.field input{
  padding: 0.5rem 0.4rem;
}

.lend-confirm {
  display: flex;
  justify-content: end;
}

.recieve-confirm {
  display: flex;
  justify-content: end;
}

.mark-damaged{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

.check{
  text-align: center;
}

.check input,.mark-damaged input[type=checkbox]{
  width: 1.5rem;
  height: 1.5rem;
}

.mark-damaged input[type=submit]:hover {
  transform: scale(1.1);
  cursor: pointer;
}