/* Book request page styles */
.add-book {
  background-color: var(--lightblue);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 2%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.reject {
  background-color: var(--red);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 2%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.reject:hover,
.add-book:hover {
  transform: scale(1.1);
}
