.photos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.photos>.photo-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 310px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--lightblue);
}

.photo-card>.preview>img {
    border-radius: 10px;
}

.photo-card>.row {
    display: flex;
    justify-content: space-between;
}

.attachments {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.attachment {
    display: inline-flex;
    min-width: 30%;
    box-sizing: border-box;
    padding: 1rem;
    gap: 1rem;
}

.photo-card>.row>button,.attachments>.attachment>button {
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: .5rem;
    background-color: var(--red);
}

.photo-card>.row>button::before,.attachments>.attachment>button::before {
    content: "×";
    font-size: 2em;
}

.photos>.photo-card>.row>.orig-name {
    max-width: calc(100% - 1.5rem);
    word-wrap: break-word;
}

.post-details > .field {
    font-weight: 600;
}

.post-details {
    display: grid;
    grid-template-columns: fit-content(20%) auto;
    gap: 1rem;
}

hr {
    margin: 2rem;
}

@media screen and (max-width: 767px) {
    .post-details {
        grid-template-columns:  auto;
    }
}