
  /* view */
  /* .view-new-complaint{
    width: 61rem;
    margin: 25px auto 0;
    left: 25%; 
    height: 90rem;
    position: absolute;
    color: black;
  }
  
  .view-new-complaint h1{
    text-transform: uppercase;
    padding-bottom: 20px;
    font-weight: 200;
  }
  
  .view-new-complaint input[type=submit]{
    background: #09d055;
    width: 8%;
    margin-top: 1px;
  }
  
  .status{
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: -2.5rem;
  } */

/*   
  .new{
    margin-left: 13rem;
    margin-top: 1rem;
    margin-bottom: -2rem;
    background: #C3D6FC;
    width: 13%;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    background: #e7160b;
  }
*/
/* .content .table-form {
  display: flex;
  flex-direction: column;
} */