complaint dashboard styles

.complaint-count {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.complaint-count>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 2%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  padding: 2rem 12rem;
}

.pie-outer-content {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 2%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  padding: 0.5rem 8rem;
  align-items: center;
}

.complaint-count>div>h1 {
  font-size: 1rem;
  font-weight: 400;
}

.complaint-count>div>span {
  font-size: 2.5rem;
}

.most-complaint-category {
  height: 280px;
  width: 280px;
}

.complaint-lower {
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 2%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  padding: 1rem 1rem 8rem 1rem;
  height: 250px;
}

.upper-content{
    gap: 4rem;
    display: flex;
}

.lower-content{
  width: 71%;
}

.complaint-dashboard{
    flex-direction: column;
    display: flex;
    gap: 2rem;
}
